* {
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: gray;
  color: white;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.conteiner {
  text-align: center;
  border: 3px solid black;
  border-radius: 1vh;
  padding: 10vh 15vh;
  font-size: 8vh;
  background-color: darkblue;
}
.conteiner:hover{
  border-radius: 2vh;
  transition:1s
}

button {
  border: 1px solid black;
  border-radius: 1vh;
  padding: 3vh;
  color: aliceblue;
  background-color: gray;
}

button:hover {
  background-color: darkgrey;
  transition:0.5s
}
